<%= simple_form_for(shop) do |f| %>
  <%= f.input :name, include_blank: false  %>
  <%= f.simple_fields_for :shop_opening_hours do |opening_hour| %>
    <div id="shop_opening_hours">
      <%= render 'shop_opening_hour_fields', f: opening_hour %>
    </div>
  <% end %>
  <div class="links">
    <%= link_to_add_association 'add opening_hour', f, :shop_opening_hours %>
  </div>
  <%= f.submit %>
<% end %>